.navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  z-index: 1000;

  background: rgba(10, 10, 10, 0.9);

  backdrop-filter: blur(14px);

  border-bottom: 1px solid var(--border);
}

.navbar-content {
  height: var(--navbar-height);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: 2px;
}

.logo span {
  color: var(--primary);
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: var(--text-secondary);

  transition: var(--transition);

  font-weight: 500;
}

.nav-links a:hover {
  color: var(--primary);
}

.menu-btn {
  display: none;

  background: transparent;
  border: none;

  color: white;

  font-size: 2rem;

  cursor: pointer;
}

@media (max-width: 900px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    position: absolute;

    top: var(--navbar-height);
    left: 0;

    width: 100%;

    background: #111;

    flex-direction: column;

    text-align: center;

    padding: 30px 0;

    gap: 25px;

    transform: translateY(-150%);

    transition: 0.4s ease;
  }

  .nav-links.active {
    transform: translateY(0);
  }
}